*{ 
	margin:0;
	padding:0;
}

body{
	background-image:url(../images/grass1.jpg);
}
.wrap{ 
	background: #fff;
	width:500px;
	font-size:22px; 
	margin:20px auto 0; 
	padding:40px 20px;
	border:2px solid #e6e6e6;
	border-radius:10px;
	box-shadow:12px 12px 6px 6px #ececec;
	
}
.list{ 
	padding:0 60px;
}
.list li{
	list-style:none;
    line-height:50px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px;
}
.list li h1{
	font-size:22px; 
	font-style:normal; 
	font-family:'微软雅黑',"Hiragino Sans GB","Hiragino Sans GB W3";
}
.list li h1 a{ 
	display:block; 
	padding:5px 8px;
	border-radius:5px;
	color: #fff;
	background-color: #393;
	/**background-color:#4169E1;
	background-image:-moz-linear-gradient(top,#6495ED,#4169E1);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#6495ED),to(#4169E1));
	background-image:-webkit-linear-gradient(top,#6495ED,#4169E1);
	background-image:-o-linear-gradient(top,#6495ED,#4169E1);
	background-image:linear-gradient(to bottom,#6495ED,#4169E1);*/
	background-color:#6495ED;
	background-image:-moz-linear-gradient(top,##B0C4DE,#6495ED);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(##B0C4DE),to(#6495ED));
	background-image:-webkit-linear-gradient(top,##B0C4DE,#6495ED);
	background-image:-o-linear-gradient(top,##B0C4DE,#6495ED);
	background-image:linear-gradient(to bottom,##B0C4DE,#6495ED);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	
	text-decoration:none;
	text-align: center;
}
.list li h1 a:hover{
	text-shadow:0 2px 1px #360;
	position:relative;
	bottom:3px;
	left:3px;
}
.list dl a{
	line-height:40px;
	color:#0a8cd2;
	display:block; 
	margin:0 50px;
	border-radius:5px;
	font-size:20px; 
	text-decoration:none;
}
.list dl a:hover{
	text-indent:20px; 
	border-radius:3px;
	font-weight: bold;
	background-color: #393;
	*background-color:#90EE90;
	background-image:-moz-linear-gradient(top,#98FB98,#90EE90);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#98FB98),to(#90EE90));
	background-image:-webkit-linear-gradient(top,#98FB98,#90EE90);
	background-image:-o-linear-gradient(top,#98FB98,#90EE90);
	background-image:linear-gradient(to bottom,#98FB98,#90EE90);
	background-repeat:repeat-x;
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	transition:all 0.4s;
	text-decoration:none;
}
.sub-dl{ 
	display:none;
}




